<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 全局启用或禁用缓存 -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 全局禁用延迟加载 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <!-- 配合延迟加载使用 -->
        <setting name="aggressiveLazyLoading" value="true"/>
        <!-- 执行器重用语句和批量更新:insert update 执行后不返回成功记录数-->
        <setting name="defaultExecutorType" value="BATCH"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.xwheel.xmonitor.portal.entity.SysUser" alias="sysUserModel"/>
        <typeAlias type="com.xwheel.xmonitor.portal.entity.SysRole" alias="sysRoleModel"/>
        <typeAlias type="com.xwheel.xmonitor.portal.entity.SysRoleAuth" alias="sysRoleAuthModel"/>
        <typeAlias type="com.xwheel.xmonitor.portal.entity.SysAuth" alias="sysAuthModel"/>
        <typeAlias type="com.xwheel.xmonitor.portal.entity.SysAuthTree" alias="sysAuthTreeModel"/>
        <typeAlias type="com.xwheel.xmonitor.portal.entity.SysDictGroup" alias="sysDictGroupModel"/>
        <typeAlias type="com.xwheel.xmonitor.portal.entity.SysDictItem" alias="sysDictItemModel"/>
    </typeAliases>
</configuration>